<%= render 'email_header' %>
						<p>Hello <b>ANANT KOLVANKAR</b>,</p>
						<p>Your csv import for file <%= @csv_date %> has been completed.<br/> Which has added <%= @total_import_count %> into database.</p>
						<h2></h2>						
						<p>Feel free to contact us, in case of queries.</p>
						<p>Thanks, have a lovely day.</p>
<%= render 'email_footer' %>