<table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        <% @candidates.each do |candidate| %>
            <tr>
               
                <td><%= link_to candidate.first_name, controller: "candidates", action:"show",id: candidate %></td>
                <td><%= candidate.last_name %></td>
                <td><%= candidate.email %></td>
            </tr>
        <% end %>    
        </tbody>
    </table>
     <%= will_paginate @candidates, renderer: BootstrapPagination::Rails %>